= stylesheet_link_tag 'views/students/edit'

.container-fluid.my-4
  .row
    = render 'student_info'

    .col-xl-9.my-4
      .container-fluid
        .card
          %h2.card-header= t('.create_new_student')
          .card-body.my-4
            .container-fluid
              = render 'form'
