.card-img-top.d-flex.flex-column.my-4.border.rounded-circle {
  max-width: 86px;
  min-height: 86px;
}

.img-student {
  min-height: 389px;
}

.show-student-link {
  color: green;
}

.delete-student-button {
  color: red;
}
