.container-fluid
  .container-fluid.py-4
    .row
      .col-xl-3
        .card
          %h2.card-title= link_to 'Students', students_path
      .col-xl-3
        .card
          %h2.card-title= link_to 'Professors', professors_path
      .col-xl-3
        .card
          %h2.card-title= link_to 'Classrooms', classrooms_path
      .col-xl-3
        .card
          %h2.card-title= link_to 'Enrollments'
