= stylesheet_link_tag 'views/professors/edit'

.container-fluid.my-4
  .row
    = render 'professor_info'
    .col-xl-9.my-4
      .container-fluid
        .card
          %h2.card-header= t('.create_new_professor')
          .card-body.my-4
            .container-fluid
              = render 'form'
