.container-fluid.my-4
  .row
    .col.my-4
      .container-fluid
        .card.shadow.bg-light
          %h2.card-header.shadow-sm= t('.new_enrollment')
          .card-body.my-4
            .container-fluid
              = render 'form'
